{% extends "::base.html.twig" %}
{% block body %}
<section id="main" role="main">

    <div class="breadcrumb-container">
        <div class="row">
            <div class="large-12 column">
                <nav class="breadcrumbs animated bounceInDown">
                    <a href="{{path('home')}}">Home</a>
                    <a href="{{path('dev')}}">Développements</a>
                    <a class="current" href="#">KaruFileManager</a>
                </nav>
            </div>
        </div>
    </div>

    <section class="part">
        <div class="row title">
            <div class="large-12 column">
                <h6>Démo du service KaruFileManager</h6>
            </div>
        </div>


        <div class="row">
            <div class="large-12 column">
                {% if html is defined %}
                {{html|raw}}
                {% else %}
                <h5>Redimensionnement d'images</h5>
                <form method="post" action="{{path('dev_KaruFileManager')}}">
                    <table>
                        <tr>
                            <td>Taille </td>
                            <td>
                                <select name="taille">
                                    <option value="0.1">10 %</option>
                                    <option value="0.2">20 %</option>
                                    <option value="0.3">30 %</option>
                                    <option value="0.4">40 %</option>
                                    <option value="0.5">50 %</option>
                                    <option value="0.6">60 %</option>
                                    <option value="0.7">70 %</option>
                                    <option value="0.8">80 %</option>
                                    <option value="0.9">90 %</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Image</td>
                            <td><img src="{{asset('dev/photos/cocotier.jpg')}}" /></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button type="submit" class="button">Redimensionner</button></td>
                        </tr>
                    </table>

                </form>
                {% endif %}

            </div>

        </div>
        </div>
    </section>





</section>
{% endblock %}
