{% extends "::base.html.twig" %}
{% block body %}
    <section id="main" role="main">

        <section id="hero">
            <div class="row">
                <div class="large-10 large-centered column text-center">
                    <div id="hero-message" class="fadeInDown animated">
                        <h1>Partenaire de votre développement</h1>
                        <h4>Nous intervenons dans le conseil et le développement web sur mesure.<br/>
                            PHP5 / <b>Symfony2</b> | Web App - E-commerce</h4>
                        <a href="{{path('contact',{objet:'devis'})}}" class="button">Etablir un devis</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="part">
            <div class="row title">
                <div class="large-12 column">
                    <h6>Nos prestations</h6>
                </div>
            </div>

            <div class="row features spacy">
                <div class="large-4 column">
                    <h4 class="no-top-margin"><i class="icon-shopping-cart"></i> Pack e-commerce</h4>
                    <p>
                        <strong>Développement de votre site e-commerce clé en main.</strong><br/>
                       Cette prestation comprend la gestion de votre catalogue produit, 
                       <strong>le paiement sécurisé via paypal</strong>, 
                       la gestion des comptes utilisateurs, une template simple / responsive, et
                       votre site en multilingue.
                    </p>
                </div>

                <div class="large-4 column">
                       <h4><i class="icon-cog"></i> Développement Web</h4>
                    <p>
                        Experts en développement web, nous maitrisons les frameworks PHP comme <b>Symfony2</b>, Zend.
                        Sensibles à la qualité du code, aux bonnes pratiques, nous sommes capables de mettre en oeuvre l'aspect métier
                        sous forme de langages informatiques.
                    </p>  
                </div>

                <div class="large-4 column">
                  <h4 class="no-top-margin"><i class="icon-home"></i> Pack TPE/PME</h4>
                    <p>
                       <strong>Développement de votre site d'entreprise.</strong><br/>
                       Cette prestation comprend la gestion de vos pages web,
                       <b>un slideshow</b> sur la page d'accueil,
                       un formulaire de contact, et votre site en multilingue.    
                    </p>
                   
                </div>
            </div>

            <div class="row features spacy">
                <div class="large-4 column">
                 <h4><i class="icon-lock"></i> Audit</h4>
                    <p>
                        Vous êtes victimes d'une attaque sur votre site web ?
                        Votre site est particulièrement lent ?
                        Nous vous proposons un audit permettant de cibler <strong>vos failles de sécurité</strong> <br/>
                        et les mauvaises pratiques de développements.

                    </p>
                   
                </div>

                <div class="large-4 column">
 <h4><i class="icon-comments"></i> Conseils</h4>
                    <p>
                        Des consultants expérimentés vous assistent, accompagnent et vous <strong>conseillent</strong> sur votre stratégie de développement.
                        <br/>Ne laissez pas de place au harsard et faîtes nous confiance!
                    </p>
                    
                </div>

                <div class="large-4 column">
                    <h4 class="no-top-margin"><i class="icon-bookmark"></i> Formations</h4>
                    <p>
                        Nos consultants vous <strong>forment</strong> sur les technologies PHP/Mysql, Symfony2, Zend, Jquery, Git...
                        et les bonnes pratiques de développement à acquérir.
                    </p>
                </div>
            </div>

            <div class="row ">
                <div class="large-12 column text-center">
                    <a href="{{path('contact',{objet:'devis'})}}" class="button">Etablir un devis</a>
                </div>
            </div>
        </section>

        <section class="part">
            <div class="row title">
                <div class="large-12 column">
                    <h6>Type de prestation</h6>
                </div>
            </div>

            <div class="row">
                <div class="large-12 column">
                    <div class="row">
                        <div class="large-6 column">
                            <ul class="pricing-table">
                                <li class="title">Site e-commerce classique</li>
                                <li class="price"><a target="_blank" style="color:#FFF" href="http://qwinsport.com">qwinsport.com</a></li>
                                <li class="bullet-item">Paiement sécurisé via paypal</li>
                                <li class="bullet-item">Gestion du catalogue produits</li>
                                <li class="bullet-item">Gestion des comptes utilisateurs</li>
                                <li class="bullet-item">Intégration web responsive</li>
                              
                                <li class="bullet-item">Site multilingue</li>
                                <li class="bullet-item"><a target="_blank" style="color:#FFF" href="http://qwinsport.com">
                                                           <img  style="height:520px" src="{{asset('assets/images/qwinsport/ec4.jpg')}}">
                                    </a></li>
                                <li class="cta-button">
                                    <a class="button" href="{{path('contact',{objet:'e-commerce'})}}">Passer une commande</a>
                                </li> 
                            </ul>
                        </div>
                        <div class="large-6 column">
                            <ul class="pricing-table">
                                <li class="title">Site business BtoB, BtoC</li>
                                <li class="price"><a target="_blank" style="color:#FFF" href="http://fridging.com">fridging.com</a></li>
                                <li class="bullet-item">Paiement sécurisé via paypal</li>
                                <li class="bullet-item">Gestion des marques</li>
                                <li class="bullet-item">Gestion du catalogue produits</li>
                                <li class="bullet-item">Gestion des comptes utilisateurs</li>
                                <li class="bullet-item">Gestion du process d'achat</li>
                                <li class="bullet-item">Modules spécifiques</li>
                                <li class="bullet-item">Intégration web responsive</li>
                              
                                <li class="bullet-item">Site multilingue</li>
                                <li class="bullet-item">
                                    <a target="_blank" style="color:#FFF" href="http://fridging.com">
                                        <img style="height:400px" src="{{asset('assets/images/fridging/page_marque_produit.jpg')}}">
                                    </a></li>
                                <li class="cta-button">
                                    <a class="button" href="{{path('contact',{objet:'e-commerce'})}}">Passer une commande</a>
                                </li> 
                            </ul>
                        </div>
                        <div class="large-6 column">
                            <ul class="pricing-table">
                                <li class="title">Mission</li>
                                <li class="price">Tarif journalier</li>
                                <li class="bullet-item">Chef de projet <strong>Web</strong></li>
                                <li class="bullet-item">Développeur <strong>PHP</strong></li>
                                <li class="bullet-item">Développeur <strong>Symfony2</strong></li>
                                <li class="bullet-item">Développeur <strong>Zend</strong></li>
                                <li class="bullet-item">Développeur <strong>Mysql</strong></li>
                                <li class="bullet-item">Développeur <strong>PL/SQL Oracle</strong></li>
                                <li class="bullet-item">Développeur <strong>Javascript/JQuery</strong></li>
                                <li class="bullet-item">Intégrateur <strong>HTML5/CSS3</strong></li>
                                <li class="cta-button"><a class="button" href="{{path('company')}}">Voir les consultants</a>
                                </li>
                            </ul>
                        </div>
                        <div class="large-6 column">
                            <ul class="pricing-table highlight">
                                <li class="title">Prestation au forfait</li>
                                <li class="price">Tarif sur devis</li>
                                <li class="bullet-item">Analyse de <strong>vos besoins</strong></li>
                                <li class="bullet-item">Rédaction <strong>des spécifications</strong></li>
                                <li class="bullet-item">Gestion <strong>de projets</strong></li>
                                <li class="bullet-item">Conseil <strong>architechture et développements</strong></li>
                                <li class="bullet-item">Réalisations <strong>des développements</strong></li>
                                <li class="bullet-item">Conception du <strong>webdesign</strong></li>
                                <li class="bullet-item">Documentation technique</li>
                                <li class="cta-button"><a class="button" href="{{path('contact',{objet:'devis'})}}">Etablir un devis</a>
                                </li>
                            </ul>
                        </div>
                        

                    </div>
                </div>
            </div>
        </section>

        <section class="part">
            <div class="row title">
                <div class="large-12 column">
                    <h6>Nos clients et collaborateurs</h6>
                </div>
            </div>

            <div class="row">
                <div class="large-12 column">
                    <ul class="large-block-grid-6 customers">
                        <li>
                            <a target="_blank" href="http://fridging.com">
                                <img style="width: 100%"  src="{{asset('assets/images/fridging/home_logo.png')}}" alt="">
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://qwinsport.com">
                                <img style="width: 100%" src="{{asset('assets/images/qwinsport/logo.png')}}" alt="">
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://hundredrobots.com">
                                <img style="width: 100%" src="{{asset('assets/images/hundred/hundredrobots_logo.png')}}" alt="">
                            </a>
                        </li>
                        <li>
                             <a target="_blank" href="http://creads.fr">
                                <img src="{{asset('global/images/photos/customer2.jpg')}}" alt="">
                            </a>
                        </li>
                        <li>
                             <a target="_blank" href="http://www.prismamedia.com/">
                                <img src="{{asset('global/images/photos/customer3.jpg')}}" alt="">
                            </a>
                        </li>
                        <li>
                             <a target="_blank" href="http://apsie.com">
                                <img src="{{asset('global/images/photos/customer5.jpg')}}" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

    </section>
{% endblock %}

